* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    background-image: url(Images/backround.lnk);
}

.Nav {
    display: none;
}

.Header {

    .upper {
        background-color: black;
        height: 6em;
        text-align: center;
        
        .container-one {
            padding: 1.5em;

            .Logo {
                text-decoration: none;
                color: white;
                font-size: 40px;
                cursor: pointer;
                padding-left: .5em;
            }
    
            .Mobile-menu {
                float: right;
                cursor: pointer;
                padding-top: .5em;
                
            }
        }
    }

    .lower {
        background-color:#601616;
        height: 2em;
        
        .container-two {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5em 1.6em;

            p {
                color: white;
            }
        }
    }
}

.Nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    right: 0;
    margin-top: 1.64em;
    background: #3C3838;
    height: 100vh;
    padding: 1em;
    border-left: 2px solid black;
    padding-right: 1em;

    img {
        float: right;
        padding: 2em .8em;
        cursor: pointer;
        height: 25px;
    }

    .pre-nav {
        margin-top: 5em;
        display: block;
    }

    a {
        color: white;
        text-decoration: none;
        display: block;
        font-size: 1.8em;
        text-align: center;
        padding: 1em 1.5em;
        margin-left: 1.5em;

        &:hover {
            font-weight: bold;
            color: #601616;
            transition: 0s;
        }
    }
}

.Nav.menu-btn {
    display: block;
}

.Hero {
    .container-hero {
        background-color: #3C3838;
        margin: 4em 1.5em;
        text-align: center;
        height: 90vh;

        h1 {
            color: white;
            font-size: 35px;
            padding: 1em;
        }

        hr {
            margin: 0 2em;
        }

        .container-services {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            text-align: left;
            align-items: center;

            img {
                margin: 1.5em 2em;
            }

            p {
                color: white;
                margin: 1.5em 1em;
                font-size: 19px;
            }
        }

    }
}

.Ender {
    
    .container-ender {
        background-color: black;
        height: 8vh;
    }
}

@media only screen and (min-width: 960px) {

    .Hero {

        .container-hero {
            margin: 4em 4.5em ;
            .container-services {
                display: grid;
                grid-template-columns: auto auto auto auto;
                justify-content: center;
            }
        }
    }

    .Header {
        
        .container-one {
            display: flex;
            margin: 0 2em;
            padding: 0%;

            .Logo {
                padding-left: 0;
            }

            .Mobile-menu {
                display: none;
            }

            .Nav {
                display: block;
                background: none;
                position: relative;
                border: none;

                img {
                    display: none;
                }

                .pre-nav {
                    display: flex;
                    margin-top: -1.5em;
                    float: right;
                    margin-right: 0em;

                    a {
                        padding: 0;
                        font-size: 20px;
                    }
                }
            }
        }

        .lower {

            .container-two {
                margin: 0 4.5em;
                padding: .5em 0;
                justify-content: space-between;
            }
        }
    }
}

@media only screen and (min-width: 1250px) {

    .Header {

        .container-one {

            .Nav {

                .pre-nav {

                    a {
                        padding: 0;
                        font-size: 23px;
                    }
                }
            }
        }
    }

    .Hero {

        .container-hero {
            margin: 4em 4.5em ;

            h1 {
                color: white;
                font-size: 43px;
                padding: 1em;
            }
    
            hr {
                margin: 0 4em;
            }

            .container-services {
                display: grid;
                grid-template-columns: auto auto auto auto;
                justify-content: center;

                p {
                    font-size: 23px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1400px) {

    .Header {

        .container-one {
            margin: 0 8em;
        }

        .lower {

            .container-two {
                margin: 0 10.7em;
            }
        }
    }

    .Hero {

        .container-hero {
            margin: 4em 10.7em ;

            h1 {
                color: white;
                font-size: 43px;
                padding: 1em;
            }
    
            hr {
                margin: 0 4em;
            }

            .container-services {
                display: grid;
                grid-template-columns: auto auto auto auto;
                justify-content: center;

                p {
                    font-size: 23px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1610px) {

    .Header {

        .container-one {
            margin: 0 10em;

            .Nav {

                .pre-nav {

                    a {
                        padding: 0;
                        font-size: 26px;
                    }
                }
            }
        }

        .lower {

            .container-two {
                margin: 0 12.7em;
            }
        }
    }

    .Hero {

        .container-hero {
            margin: 4em 12.7em ;

            h1 {
                color: white;
                font-size: 43px;
                padding: 1em;
            }
    
            hr {
                margin: 0 4em;
            }

            .container-services {
                display: grid;
                grid-template-columns: auto auto auto auto;
                justify-content: center;

                p {
                    font-size: 26px;
                }
            }
        }
    }
}